.header {
    font-family: 'Josefin Sans';
    font-size: 20px;
    font-weight: 400;
    box-shadow: 0px 5px 34px rgba(0, 0, 0, 0.05);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 0;
        transition: all .4s ease;

        @media only screen and (min-width: 360px) and (max-width:1023px) {
            align-items: center;
        }

        @media only screen and (min-width:1400px) and (max-width:1600px) {
            paddng: 20px 0;
        }

        @media only screen and (min-width: 1600px) {
            padding: 24px 0;
        }

        .logo {
            width: 58px;
            height: 55px;
        }

        .nav {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            transition: all .2s ease;

            @media only screen and (min-width:360px) and (max-width:1023px) {
                display: none;
                flex-direction: column;
            }

            .nav__item {
                transition: all .2s ease;
                a {
                    text-decoration: none;
                    color: #000;
                }

                margin-right: 52px;
                @media only screen and (max-width:560px) {
                    margin: 0 0 32px 0;
                }

                @media only screen and (min-width:560px) and (max-width:768px) {
                    margin: 0 0 32px 0;
                }

                @media only screen and (min-width:768px) and (max-width:1023px) {
                    font-size: 22px;
                    margin: 0 0 30px 0;
                }

                @media only screen and (min-width: 1023px) and (max-width:1200px) {
                    font-size: 16px;
                    margin: 0 20px 0 0;
                }

                @media only screen and (min-width:1400px) and (max-width:1600px) {
                    font-size: 24px;
                    margin: 0 42px 0 0;
                }

                @media only screen and (min-width: 1600px) {
                    font-size: 26px;
                    margin: 0 52px 0 0;
                }

                &:first-child {
                    @media only screen and (max-width:560px) {
                        margin: 30px 0 32px 0;
                    }

                    @media only screen and (min-width:560px) and (max-width:768px) {
                        margin: 30px 0 35px 0;
                    }

                    @media only screen and (min-width:768px) and (max-width:1023px) {
                        font-size: 24px;
                        margin: 30px 0 30px 0;
                    }

                    @media only screen and (min-width: 1023px) and (max-width:1200px) {
                        font-size: 18px;
                        margin: 0 15px 0 0;
                    }
                }

                &:hover {
                    transform: translateX(2px);
                }
            }
    
            .active-item {
                font-size: 20px;
                font-weight: 700;

                @media only screen and (min-width:768px) and (max-width:1023px) {
                    font-size: 18px;
                }

                @media only screen and (min-width:1400px) and (max-width:1600px) {
                    font-size: 26px;
                }

                @media only screen and (min-width: 1600px) {
                    font-size: 28px;
                }
            }

            .changer-language {
                display: flex;
                align-items: center;
                justify-content: center;

                margin-right: 30px;

                @media only screen and (max-width:560px) {
                    margin: 0 0 32px 0;
                }

                @media only screen and (min-width:560px) and (max-width:768px) {
                    margin: 0 0 32px 0;
                }

                @media only screen and (min-width:768px) and (max-width:1023px) {
                    font-size: 24px;
                    margin: 0 0 30px 0;
                }

                @media only screen and (min-width: 1023px) and (max-width:1200px) {
                    font-size: 18px;
                }

                @media only screen and (min-width:1400px) and (max-width:1600px) {
                    font-size: 26px;
                    margin: 0 62px 0 0;
                }

                @media only screen and (min-width: 1600px) {
                    font-size: 28px;
                    margin: 0 52px 0 0;
                }

                .language-logo {
                    margin: 0 15px;
                }
            }


            .btn {
                padding: 25px 62.5px 25px 52.5px;

                @media only screen and (min-width:768px) and (max-width:1023px) {
                    font-size: 22px;
                    padding: 1em 1.5em;
                }

                @media only screen and (min-width: 1023px) and (max-width:1200px) {
                    padding: 1em 1.5em;
                    font-size: 18px;
                }
            }
        }

        .hamburger-menu {
            width: 36px;
            height: 36px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            display: none;
            cursor: pointer;

            @media only screen and (min-width:360px) and (max-width:1023px) {
                display: flex;
            }

            &__line {
                width: 100%;
                height: 4px;
                border-radius: 5px;
                margin-bottom: 7px;
                transition: all .4s ease;
                background-color: #000;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

}